<footer class="bg-primary text-light">
	<div class="container py-5">
		<div class="row">
			<div class="col-12 col-md-3">
				<h3 class="fw-lighter">Jandarma <span class="fw-bold">Dijital</span></h3>
			</div>
			<div class="col-12 col-md-9">
				<p class="small">
					Bu site, Jandarma Genel Komutanlığı'nın dijitalleşme sürecinin bir parçası olarak,
					tüm uygulamalarını toplu bir şekilde sunmak amacıyla tasarlanmış ve hayata geçirilmiştir.
					Güv.Yzlm.Glş.Mrk.A.liği. <a class="text-white" href="{% url 'changelog' %}">v.0.5.0</a>
				</p>
			</div>
		</div>
	</div>
</footer>