<!DOCTYPE html>
{% load static %}
<html lang="tr">

<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<title>Jandarma Dijital</title>
	<link href="{% static 'css/style.css' %}" rel="stylesheet" />
	{% block extra_css %}{% endblock %}
</head>

<body class="bg-light">
	{% block content %}{% endblock %}
	{% include 'partials/_footer.html' %}
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	{% block extra_js %}{% endblock %}
</body>

</html>